<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sign Up</title>

    <link rel="stylesheet" type="text/css" href="../../theme/body.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../theme/authentication.css"
    />
    <link rel="stylesheet" type="text/css" href="signup.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
    <div class="authentication-container">
      <div class="header">Sign Up</div>
      <form id="signup-form">
        <div class="caption">Email</div>
        <input class="text-field" id="email-field" type="text" name="email" />
        <div class="caption">Username</div>
        <input
          class="text-field"
          id="username-field"
          type="text"
          name="username"
        />
        <div class="caption">Password</div>
        <input
          class="text-field"
          id="password-field"
          type="password"
          name="password"
          placeholder="At least 8 characters."
        />
        <input class="submit-btn" type="submit" value="Sign Up" />
      </form>
      <div class="redirect">
        Already have an account? <a href="../login/login.html">Log In</a>
      </div>
    </div>
    <script src="../../utils/utils.js"></script>
    <script src="signup.js"></script>
  </body>
</html>
