<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Add Post</title>

    <link rel="stylesheet" type="text/css" href="../../theme/body.css" />
    <link rel="stylesheet" type="text/css" href="add_post.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
    <div class="add-post-form">
      <div class="title">Title</div>
      <input></input>
      <div class="title">Body</div>
      <textarea></textarea>
    <button id="submit-btn">Submit</button>
    </div>
    <script src="add_post.js"></script>
  </body>
</html>
