.authentication-container {
  background: white;
  width: 400px;
  margin: auto;
  margin-top: 60px;
}

.header {
  background: #f1f1f1;
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-weight: bold;
}

form {
  padding: 16px;
}

.caption {
  font-size: 16px;
  padding: 12px 0 2px 0;
}

.text-field {
  width: 100%;
  height: 28px;
  padding-left: 8px;
}

.submit-btn {
  margin-top: 16px;
  width: 100%;
  height: 28px;
}

.redirect {
  text-align: center;
  padding: 8px;
}

.error {
  color: red;
}
