<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PostPage</title>

    <link rel="stylesheet" type="text/css" href="../../theme/body.css" />
    <link rel="stylesheet" type="text/css" href="postPage.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
    <div class="topnav"></div>
    <div class="post-container">
      <div class="title"></div>
      <div class="username"></div>
      <div class="time"></div>
      <div class="content"></div>
    </div>
    <script src="../../utils/utils.js"></script>
    <script src="postPage.js"></script>
  </body>
</html>
