<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Log in</title>

    <link rel="stylesheet" type="text/css" href="../../theme/body.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../theme/authentication.css"
    />
    <link rel="stylesheet" type="text/css" href="login.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
    <div class="authentication-container">
      <div class="header">Log In</div>
      <form id="login-form">
        <div class="caption">Email</div>
        <input class="text-field" type="text" name="email" />
        <div class="caption">Password</div>
        <input class="text-field" type="password" name="password" />
        <input class="submit-btn" type="submit" value="Log in" />
      </form>
      <div class="redirect">
        Don't have an account? <a href="../signup/signup.html">Sign Up</a>
      </div>
    </div>
    <script src="login.js"></script>
  </body>
</html>
