.add-post-form {
  margin: auto;
  margin-top: 60px;
  background: white;
  padding: 12px;
  width: 40%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  height: 200px;
}
