.chat-container {
  background: #f8f8f8;
  width: 40%;
  margin: auto;
  margin-top: 40px;
  border: 1px solid #e0e0e0;
}

.receiver {
  height: 40px;
  text-align: center;
  line-height: 40px;
  background: white;
}

.message-container {
  border-bottom: 1px solid #e0e0e0;
  height: 600px;
  overflow-y: scroll;
}

textarea {
  width: 96%;
  height: 80px;
  border: none;
  background: #f8f8f8;
  resize: none;
  padding: 12px;
}

textarea:focus {
  outline: none;
}

.action {
  background: #f8f8f8;
  height: 40px;
}

#send-btn {
  padding: 8px;
  margin-right: 8px;
  background: white;
  border: 1px solid #e0e0e0;
  float: right;
  width: 100px;
  text-align: center;
}

.message-sent-container,
.message-received-container {
  clear: both;
  margin: 8px;
}

.message-sent-container {
  float: right;
  color: white;
}

.message-received-container {
  float: left;
}

.message-sent,
.message-received {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  display: inline-block;
}

.message-sent {
  background: #ffa042;
  margin-right: 4px;
}

.message-received {
  background: white;
  margin-left: 8px;
}

.chat-profile-image {
  width: 30px;
  height: 30px;
}
