<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Chat</title>

    <link rel="stylesheet" type="text/css" href="../../theme/body.css" />
    <link rel="stylesheet" type="text/css" href="chat.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <div class="chat-container"></div>
    <textarea></textarea>
    <button id="submit-btn">Submit</button>
    <script src="chat.js"></script>
  </body>
</html>
