.user-info-container {
  margin: auto;
  margin-top: 60px;
  min-width: 400px;
  max-width: 900px;
  background: white;
  padding: 16px;
  height: 120px;
}

.profile-image {
  float: left;
  width: 100px;
  height: 100px;
}

.info-left {
  float: left;
  padding: 16px;
}

.username {
  font-size: 24px;
  font-weight: bold;
}

.contact {
  float: right;
}

.chat,
#friend-request {
  float: right;
  padding: 8px;
  margin: 4px;
  border-radius: 2px;
  border: none;
  font-weight: bold;
}

#friend-request {
  background: #ffa042;
  color: white;
}

.chat {
  background: white;
  color: #202020;
  border: 1px solid #202020;
}
