<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>User</title>

    <link rel="stylesheet" type="text/css" href="../../theme/body.css" />
    <link rel="stylesheet" type="text/css" href="user.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>

  <body>
    <div class="topnav"></div>
    <div class="user-info-container">
      <img src="../../assets/user.png" class="profile-image" />
      <div class="info-left">
        <div class="username"></div>
      </div>
      <div class="contact">
        <button class="chat">Chat</button>
        <button id="friend-request"></button>
      </div>
    </div>
    <script src="../../utils/utils.js"></script>
    <script src="user.js"></script>
  </body>
</html>
